<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tempakunoshiro.automaticotakumatching">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".HirobaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileListActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".ProfileActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".AboutMeActivity"
            android:uiOptions="splitActionBarWhenNarrow" />

        <service android:name=".Switcher" />
        <service android:name=".MatchingService" />
        <service android:name=".RandomDataSender" />
        <service
            android:name=".WifiDirectIntentService"
            android:exported="false" />
        <receiver
            android:name=".WifiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".SendMessageIntentService"
            android:exported="false" />
        <service
            android:name=".ReceiveMessageIntentService"
            android:exported="false"></service>

    </application>

</manifest>